@section Scripts {
    <script>
        $(document).ready(function () {
            var urlApi =
                "https://apicorehospitales2023.azurewebsites.net/api/hospitales";
            $.ajax({
                url: urlApi,
                method: "GET",
                success: function (data) {
                    var html = "";
                    $.each(data, function (index, hospital) {
                        html += "<tr>";
                        html += "<td>" + hospital.nombre + "</td>";
                        html += "<td>" + hospital.direccion + "</td>";
                        html += "<td>" + hospital.telefono + "</td>";
                        html += "<td>" + hospital.camas + "</td>";
                        html += "</tr>";
                        $("#tablahospital tbody").html(html);
                    });
                }
            })
        })
    </script>
}

<table id="tablahospital" class="table table-bordered">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Dirección</th>
            <th>Teléfono</th>
            <th>Camas</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
