<h1>API HOSPITALES</h1>
<ul>
    <li>
        <a asp-controller="Hospitales" asp-action="Cliente">Cargar FRONT</a>
    </li>
    <li>
        <a asp-controller="Hospitales" asp-action="Servidor">Cargar BACK</a>
    </li>
</ul>
